<% form for [@cart, @cart.selected_products] do |f| %>

   <p><strong>Amount:</strong> <%= f.select :amount, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]],
   prompt: "Select Amount" %></p>

  <div class="actions">
    <%= f.submit "Add to Cart", class: "btn btn-success" %>
  </div>


<%= button_to "Add to cartola", product_path(product), , method: :update %>
<% end %>


<%= form_for @cart do |c| %>
  <% @cart.errors.full_messages.each do |msg| %>
    <p class="alert alert-danger"><%= msg %></p>
  <% end %>


  <div class="actions">
    <%= f.submit "update", class: "btn btn-primary" %>
    <%= link_to "Back", root_path, class: "btn btn-default" %>
  </div>
<% end %>
