<h1><%= @product.name.capitalize %></h1>

<p>Price: <%= @product.price %> | Description: <%= @product.description %> </p>
<%= image_tag @product.image %>
<hr>
<%= link_to "[Delete]", product_path(@product.id), method: :delete, data: { confirm: "Are you sure?" } %>
<hr>
<%= render 'carts/form' %>
