<!DOCTYPE html>
<html>
  <head>
    <title>Tobibay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>

    <% if !user_signed_in? %>
    <div class="container">
      <div class="col-md-8">
        <%= render "shared/anonymous_index" %>
      </div>
    <% else %>

      <%= render "shared/navbar" %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-4">
        <%= render "shared/sidebar", product: @product %>
      </div>
      </div>
      <%= render "shared/footer" %>
    <% end %>

  </body>
</html>
